/* padding: 1rem 1.5rem;
  border-radius: 10px;
  margin: 20px 8px;
  text-align: center;
  box-shadow: 16px 0px 58px 0px rgba(0, 0, 0, 0.1); 
  ....
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    max-width: 500px;
    padding: 50px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
  */

:root {
  --clr-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  background: url(src/images/headerImages/forest.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 290px;
  padding: 1rem;
}
.company-logo {
  font-size: 1.75rem;
}

.company-logo span {
  color: #c2970c;
  font-family: "Great Vibes", cursive;
}

.navigation {
  display: flex;
  justify-content: space-between;
  color: var(--clr-white);
  position: relative;
}
.navigation a {
  color: var(--clr-white);
  text-decoration: none;
  text-transform: capitalize;
}

.navigation ul {
  list-style: none;
  text-align: center;
}
.navigation .navbar {
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  background: #2d3038df;
  border-radius: 25px;
  font-size: 0.85rem;
  transform: translateX(200%);
  transition: transform 0.5s ease-in;
  z-index: 999;
}

.navigation .navbar.show-menu {
  display: block;
  transform: translateX(0%);
}

.navigation .navbar li a {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  padding: 1em 2em;
  border-radius: 20px;
}

.navigation .navbar li a:hover {
  color: #c2970c;
  background-color: aliceblue;
}

.navigation .navbar .navbar-pagelinks li a::after {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 15%;
  width: 70%;
  height: 1px;
  margin: auto;
  background-color: #e0e3ea42;
}

.navbar .navbar-icons {
  display: flex;
  justify-content: center;
}

.navbar ul.navbar-icons li a {
  text-align: center;
  width: 36px;
  padding: 12px 12px;
  border-radius: 5px;
  position: relative;
}

.navbar ul.navbar-icons li a::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(28, 26, 26);
}

.hamburger-menu {
  cursor: pointer;
  font-size: 1.75rem;
  z-index: 999;
}
.home {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}

.btn {
  border: none;
  background-color: inherit;
  font-weight: 500;
  size: 8px;
  color: #ffffff;
}

.prevBtn {
  display: none;
}
.prevArrow {
  position: absolute;
  top: 42%;
  left: 0;
}
.nextBtn {
  display: none;
}
.nextArrow {
  position: absolute;
  top: 42%;
  right: 0;
}
.scroll {
  position: absolute;
  bottom: 2rem;
  left: 47%;
}
.scroll img {
  position: absolute;
  top: 86%;
  left: 47%;
  margin-top: 20px;
}

.scrollBtn {
  display: none;
}
.scrollArrow {
  position: absolute;
  top: 80%;
  left: 47%;
}

.mid {
  color: #ffffff;
  position: relative;
  height: 180px;
  width: 200px;
  margin-top: 20px;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shopify {
  display: flex;
  width: 90px;
  justify-content: space-around;
  position: absolute;
  left: 25%;
}
.shopify img {
  width: 25px;
  height: 25px;
}
.shopify p {
  margin-top: 6px;
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.heroContent {
  position: absolute;
  top: 14%;
  width: 198px;
  height: 152px;
  font-weight: 700;
  text-transform: uppercase;
}
.heroContent img {
  position: absolute;
  width: 50%;
  top: 30%;
  right: 25%;
}
.heroContent span {
  position: absolute;
  /* top: 40%;
    left: 20%; */
  font-size: 52px;
}
.one {
  position: absolute;
  top: 16.5%;
  left: 13%;
}
.two {
  position: absolute;
  top: 30%;
  left: 28%;
  z-index: 1;
}
.three {
  position: absolute;
  top: 16%;
  left: 50%;
}
.four {
  position: absolute;
  top: 30%;
  left: 70%;
}
.logos .partnersLogo {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}
.logoSide {
  display: block;
  margin: auto;
}
.logoSide .shopifyStars {
  height: 40px;
  display: block;
  margin: auto;
  width: 40%;
}
.logoSide .shopifyJobCounts {
  height: 40px;
  text-align: center;
  margin: auto;
  width: 80%;
  color: #516175;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logoSide p span {
  font-weight: 900;
}
.logoSide .shopifyCard {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid blue; */
  margin-top: 10px;
}
.shopifyCard p {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.shopifyCard img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
/* Changes here */
.join {
  /* border: 1px solid red; */
  margin: 1.5rem auto;
}
.join .join__img,
.team .team__img {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.join img {
  width: 100%;
}
.join .joinMain {
  text-align: center;
  margin: 1rem auto;
  width: 80%;
  /* border: 1px solid green; */
  color: #1f3155;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
}
.join p span {
  font-weight: 900;
}
.free {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid blue; */
  margin-top: 10px;
  border-radius: 2px;
  background: #fff;
  box-shadow: -10px 30px 30px 2px rgba(0, 0, 0, 0.05);
}
.free .freeText {
  background: #fff;
}
.free p {
  margin-right: 10px;
  color: #57caec;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.items {
  /* border: 2px solid magenta; */
  background: linear-gradient(
    172deg,
    #fafcfe 20.48%,
    rgba(234, 243, 255, 0.96) 39.06%,
    #f0f7ff 72.25%,
    rgba(255, 255, 255, 0) 93.88%
  );
}
/* Added here */
.items .topItem {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.bottomItem .mainDesc {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}
.itemsImages {
  /* border: 1px solid red; */
  display: block;
  margin: auto;
  width: 70%;
}
.card {
  margin-top: 30px;
  /* border-radius: 10px; */
  overflow: hidden;
}
.itesmsDescription {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  color: #6c7188;
  font-size: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.dollarStar {
  display: flex;
  justify-content: space-evenly;
}
.dollar {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}
.itemsName {
  color: #a0a0b3;
  text-align: center;
  font-size: 16px;
  margin: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}
.buttn {
  background-color: #0ab3e4;
  color: #fff;
  display: block;
  margin: auto;
  text-align: center;
  border: none;
  padding: 0.75em 2em;
  margin-bottom: 20px;
}
.goldText {
  color: #f7a70e;
  text-align: center;
  font-size: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
}
.topMainText {
  width: 60%;
  margin: 10px auto;
  color: #000;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  text-align: center;
}

.services ul {
  width: 100%;
  color: #ffffff;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.services ul li a {
  font-size: 7px;
  color: #8c95a5;
  text-decoration: none;
}
.services ul li:nth-child(6) a {
  color: #6acfee;
}
.team {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
.team img {
  width: 75%;
  margin: 0 auto;
  display: block;
}
.team .teamGold {
  color: #f7a70e;
  font-size: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.04px;
  margin-bottom: 10px;
}
.team .become {
  color: #2d3a62;
  font-size: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.52px;
}
.storetasker {
  color: #616f85;
  font-size: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
}
.team .teamDesc {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #a0a0b3;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}
.team .teamLists {
  color: #012c55;
  font-size: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  max-width: fit-content;
  margin: 0 auto; /* Center the div horizontally */
  text-align: center;
  padding-left: 0;
  margin-bottom: 10px;
}
.team .teamLists li {
  display: flex; /* Make the list items flex containers */
  align-items: center; /* Center the icon and text vertically */
  gap: 10px; /* Add a 5px gap between the icon and text */
}
.team .teamLists li i.fa-sharp.fa-solid.fa-check {
  color: #f7ad2d; /* Set color to gold for the icons */
}
.team .teamLists ul {
  list-style: none; /* Remove list bullets */

  padding-left: 0; /* Remove default list padding */
}

.buttns {
  background-color: #fff;
  border: none;
  color: #2db7e5;
}
.buttns i.fa-solid.fa-arrow-right {
  color: #57caec; /* Set color for the icon inside the button */
}
/* Padding changed */
.benefits {
  padding-top: 20px;
  border: 2px solid #b3bccf;
  background: #2f5792;
}
.benefitsGold {
  color: #f7a70e;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Changes */
.benefitsTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.benefitsTopMain {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.benefitsMid .cards {
  width: 265px;
  text-align: left;
  line-height: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.benefitsMid .cards .top {
  height: 150px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1em;
}

.benefitsMid .cards p.number {
  font-size: 90px;
  height: 150px;
}
.benefitsMid img {
  width: 80px;
}
.benefitBtn {
  padding: 6px 1.5em;
  max-width: 233px;
}
.cards {
  margin: 40px auto;
}
.benefitsMid {
  text-align: center;
}
.cardTopLeft {
  margin-top: 10px;
}
.oneCardTop {
  display: flex;
  justify-content: space-evenly;
}
.twoCardTop {
  display: flex;
  justify-content: space-evenly;
}
.threeCardTop {
  display: flex;
  justify-content: space-evenly;
}

.number {
  color: #3f6ba9;
  font-size: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.imgName {
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.benefitMidDesc {
  color: #8da0be;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.benefitBtn {
  display: block;
  border: none;
  background: #4d6d9b;
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.review {
  background: linear-gradient(
    172deg,
    #f6fbff 20.48%,
    rgba(234, 243, 255, 0.96) 39.06%,
    #eef6ff 72.25%,
    rgba(255, 255, 255, 0) 93.88%,
    #ddeeff
  );
}
.reviewGold {
  color: #f7a70e;
  font-size: 12px;
  margin: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
}
.reviewMain {
  color: #314766;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reviewer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.reviewMain span {
  color: #263657;
}
.reviewTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reviewCard {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  /* border: 1px solid red; */
  margin: 20px 8px;
  text-align: center;
  /* align-items: center; */
  box-shadow: 16px 0px 58px 0px rgba(0, 0, 0, 0.1);
}
.rName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewStar {
  display: block;
  margin: auto;
}
.reviewDesc {
  margin: 10px 0px;
}
.reviewDescFirst {
  color: #222344;
  font-size: 14px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}
.reviewDescSecond {
  color: #213256;
  font-size: 14px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}
.reviewDescThird {
  color: #31364d;
  font-size: 14px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}
.reviewerName {
  color: #424b6e;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}
.position {
  color: #a4abb4;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  background: #213757;
  padding: 1rem 1.5rem;
}
.footerTopMain {
  color: #e4e5e9;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
  text-align: center;
}
.footerButtons button {
  display: block;
  width: 100%;
  max-height: 64px;
  padding: 0.75em 2em;
  margin-bottom: 20px;
}
.footerButtons i {
  margin-left: 5px;
}
.btnExpert {
  border: none;
  color: #0ab3e4;
  background-color: #ffffff;
}
.btnFreeEstimate {
  border: none;
  background: #0ab3e4;
  color: #ffffff;
}
.footerMainImg {
  display: flex;
  justify-content: space-around;
}
.footerTopMain {
  margin: 20px 0px;
}
.footerMainImg {
  display: flex;
  justify-content: space-evenly;
  /* margin: 10px; */
}
.footerMainDesc {
  width: 80%;
  text-align: center;
  margin: auto;
  color: #9ea5b2;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.42px;
}
.paymentImg {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer .row {
  text-align: center;
}
.row ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.footer .row li {
  margin-bottom: 5px;
  list-style: none;
}
.row h3 {
  color: #fff;
}
.rowTitle {
  margin-bottom: 10px;
}
.row a {
  text-decoration: none; /* Remove underline from anchor tags */
  color: #9ea5b2;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.footerShopify {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midFinal {
  /* display: block; */
  text-align: center;
}
.midFinal img {
  margin: 10px;
}
.midFinalDesc {
  color: #9ea5b2;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footerShopify p {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.copyright {
  color: #9ea5b2;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
  text-align: center;
  margin: 10px;
}
.bottomSide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomSide .terms {
  margin-right: 15px;
  margin-bottom: 40px;
  color: #9ea5b2;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}
.privacy {
  margin-bottom: 40px;
  color: #9ea5b2;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}
@media (min-width: 425px) {
  .logo img {
    width: 4rem;
  }

  .centerNav ul {
    display: block;
    display: flex;
    width: 250px;
    color: #ffffff;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .centerNav ul li a {
    font-size: 9px;
    color: #ffffff;
    text-decoration: none;
  }
  .sideNav ul {
    display: flex;
    justify-content: space-between;
    width: 65px;
    list-style: none;
  }
  .sideNav ul li img {
    width: 12px;
  }
}

@media (min-width: 510px) {
  .mid {
    color: #ffffff;
    position: relative;
    height: 200px;
    width: 300px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .shopify {
    display: flex;
    width: 110px;
    justify-content: space-between;
    position: absolute;
    left: 32%;
    top: 5px;
  }
  .shopify img {
    width: 28px;
    height: 28px;
  }
  .shopify p {
    margin-top: 8px;
    font-size: 20px;
  }
  .heroContent {
    position: absolute;
    top: 23%;
    width: 298px;
    height: 152px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .heroContent img {
    position: absolute;
    width: 55%;
    top: 25%;
    right: 25%;
  }
  .heroContent span {
    position: absolute;
    font-size: 70px;
  }
  .one {
    position: absolute;
    top: 12%;
    left: 10%;
  }
  .three {
    position: absolute;
    top: 10%;
    left: 50%;
  }
  .logoSide .shopifyStars {
    height: 20px;
    width: 30%;
    margin-bottom: 12px;
  }
  /* CHanges here */
  .items .topItem .services ul {
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #dfe4ea;
  }

  .items .topItem li {
    margin-bottom: 10px;
  }

  .footerButtons {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 640px) {
  header {
    height: 350px;
  }
  .prevArrow {
    display: none;
  }
  .nextArrow {
    display: none;
  }
  .scrollArrow {
    display: none;
  }
  .prevBtn {
    display: flex;
    width: 10px;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    top: 45%;
    word-break: break-all;
    left: 0;
  }
  .nextBtn {
    display: flex;
    width: 10px;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    top: 45%;
    right: 0;
    word-break: break-all;
  }

  .scrollBtn {
    display: flex;
    color: #ffffff;
    /* height: 100px; */
    /* transform: rotatex(90deg); */
  }
  .scroll img {
    margin-top: 10px;
  }
  .logos {
    position: relative;
  }
  .logoSide {
    position: absolute;
    bottom: 50px;
    right: 0px;
    background: #fff;
    backdrop-filter: blur(25px);
    width: 180px;
    height: 160px;
    flex-shrink: 0;
    text-align: center;
  }
  .logoSide .shopifyJobCounts {
    height: 70px;
    font-size: 15px;
  }

  .shopifyCard {
    bottom: 0px;
  }
  .logos .partnersLogo {
    width: 70%;
  }
  .join .join__img,
  .team .team__img {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  /* Css */
  .bottomItemCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bottomItemCards .card {
    width: 335px;
  }
  .review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5em;
  }

  .review .reviewCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    max-width: 500px;
    padding: 50px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
  }

  .review .reviewMain {
    text-align: left;
    font-size: 36px;
    line-height: 53px;
  }

  .review .reviewMain span {
    font-weight: 500;
  }
  .footerMainImg {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
  .footerMainImg img {
    /* width: 20%; */
    padding: 9px;
  }
  .footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footerTop .footerTopMain {
    flex-basis: 40%;
    font-size: 21px;
    text-align: left;
  }

  .footerButtons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .footerMid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    margin: 2rem 1rem;
  }

  .footerMid .footerMidMain {
    max-width: 210px;
    font-size: 14px;
  }
  .footerMainDesc {
    width: 100%;
    text-align: left;
  }

  .midFinal {
    max-width: 230px;
  }

  .midFinalDesc {
    font-size: 15px;
    text-align: left;
  }

  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerBottom .bottomSide p {
    margin: 0;
    padding: 1em 2em;
  }

  .footerLine {
    margin: 1rem auto;
    background-color: #616f8559;
    border-radius: 5px;
    width: 80%;
    height: 1px;
  }
}
@media (min-width: 769px) {
  .company-logo {
    margin-right: 20px;
  }
  header {
    height: 100vh;
  }
  .navigation {
    width: 90%;
    padding-top: 1%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu {
    display: none;
  }

  .navigation .navbar {
    flex-basis: 80%;
    gap: 10%;
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(0);
    background: none;
  }

  .navigation .navbar .navbar-pagelinks {
    display: flex;
    padding-left: 4%;
  }

  .navigation .navbar .navbar-icons {
    justify-self: right;
  }

  .navigation .navbar li a {
    width: 100%;
    text-align: center;
    padding: 1em 0.825em;
  }

  .navigation .navbar li a:hover {
    color: #c2970c;
    background: none;
  }

  .navigation .navbar .navbar-pagelinks li a::after {
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    transition: width 0.5s linear;
  }

  .navigation .navbar .navbar-pagelinks li:hover a::after {
    width: 100%;
  }
  .mid {
    margin-top: 50px;
    text-align: center;
  }
  .btn {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  /* Changing here */
  .join,
  .team {
    text-align: start;
    display: flex;
    align-items: center;
  }
  /* Change here */

  .items .topItem .services a {
    font-size: 13px;
    font-weight: 500;
  }

  .bottomItemCards .card {
    background-color: #f6f6f8;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 2rem;
  }

  .bottomItemCards .card .itemsImages {
    width: 100%;
    margin-bottom: 2rem;
  }

  /* CSS code added here */
  .team .team__img {
    width: 50%;
  }
  /* New css ADDED */

  .benefitsMid {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .mid {
    margin-top: 0px;
  }
  .scrollBtn {
    transform: rotate(270deg);
    padding-left: 60px;
    padding-top: 8px;
  }
  .footerTop .footerTopMain {
    font-size: 42px;
  }
  .bottomItemCards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
}
